:root, [data-bs-theme=light] {
--bs-light-border-subtle: #1b1b1b;
--bs-secondary-rgb:237,247,250;
--enable-negative-margins: true;
}
.navbar {
    --bs-navbar-toggler-icon-bg:url('./images/icons/hamburger.svg');
}
.nav-link{
    // --bs-nav-link-color: #9c9c9c !important;
    // --bs-navbar-active-color: white;
    // --bs-link-hover-color-rgb: white !important;
    font-weight: 600;
    // &:hover{
    //     color:white !important
    // }
}
.nav-link{
    // --bs-nav-link-color: #9c9c9c !important;
    // --bs-navbar-active-color: white;
    // --bs-link-hover-color-rgb: white !important;
    transition: color 0.2s ease-in-out;
    // &:hover{
    //     color: white !important;
    // }
.page-main{
    background-color: #000 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-dark-gray{
    background-color: #1b1b1b !important;
}
}
// .page-main{
//     background-color: #000 !important;
//     min-height: 100vh;
// }

.bg-dark-gray{
    background-color: #1b1b1b !important;
}

.home-banner{
    @media(min-width:992px){
        padding-top: 9rem !important;
        padding-bottom: 9rem !important;
    }
}

@font-face {
    font-family: heebo-regular;
    src: url('./fonts/Heebo/static/Heebo-Regular.ttf');
}
@font-face {
    font-family: heebo-bold;
    src: url('./fonts/Heebo/static/Heebo-Bold.ttf');
}
body{
    font-family: heebo-regular, sans-serif;
    font-size: 15px;
}
html{
    box-sizing: border-box;
}
.heebo-bold{
    font-family: heebo-bold, sans-serif;
}
.text-light{
    color: #9C9C9C !important;
}

.ms-n3{
    margin-left:-2rem !important;
}
.ms-n4{
    margin-left:-3rem !important;
}
@media (min-width:992px) {
    .ms-lg-n4{
        margin-left:-3rem !important;
    }   
}
.fs--1{
    font-size: 0.9rem !important;
}